@font-face {
  font-family: Lunasima;
  src: url('Lunasima-Regular.woff2') format('woff2');
  font-weight: 400
}
@font-face {
  font-family: Lunasima;
  src: url('Lunasima-Bold.woff2') format('woff2');
  font-weight: 700
}
:root {
  --bg: #fff;
  --fg: #000;
  --bl: #eee;
  --bq: #bbb;
  --ac: #777;
  --f: Lunasima, sans-serif;
  --c: Menlo, monospace;
}
@media(prefers-color-scheme: dark) {
  :root {
    --bg: #1e1e1e;
    --fg: #d9d9d9;
    --bl: #2e2e2e;
    --bq: #555;
    --ac: #999;
  }
}
body {
    background: var(--bg);
    color: var(--fg);
    font: 16px/23.5px var(--f);
    padding: 1.25rem;
    max-width: 36em;
    margin: auto;
}
pre, code, kbd {
  font-family: var(--c);
  font-size: 92.5%;
}
pre {
  margin: 1.15rem 0;
  overflow-x: auto;
  padding: 0.5rem;
  line-height: 1.4;
  background: var(--bl);
}
pre code {
  font-size: 100%;
}
sup {
  line-height: 0
}
figure {
  margin: 1.15rem 0
}
figure pre {
    margin: 0
}
img {
  width: 100%;
  height: auto
}
p, hr {
  margin: 0 0 1.15rem
}
blockquote {
  margin: 0 0 1.15rem;
  border-left: 4px solid var(--bq);
  padding-left: 1rem
}
ul, ol {
  padding-left: 1.625rem;
  margin: 0 0 1.15rem
}
li {
  margin: 1px 0
}
a {
    color: inherit;
    text-decoration-color: var(--ac);
    text-underline-offset: 0.05em;
    text-decoration-thickness: 0.05em;
}
a:hover {
    text-decoration-color: inherit
}
hr {
  border-top: thin solid var(--bq);
  border-bottom: 0;
}
section + hr {
  margin: 3rem 0
}
h1, h2, h3 {
  line-height: 1.85rem;
  margin: 1em 0 1rem;
}
h1 {
  font-size: 1.5em;
  margin-bottom: 0.25rem
}
h2 {
  font-size: 1.25em;
}
h3 {
  font-size: 1.1em
}
h1 + p, figcaption, time {
	color: var(--ac)
}
h1 + p a {
	text-decoration: none
}
h1 + p a:hover {
	text-decoration: underline
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 1.15rem
}
td, th {
    border-top: thin solid var(--bq);
    border-bottom: thin solid var(--bq);
    padding: 0.15rem 0;
	text-align: left;
	vertical-align: baseline
}
table time {
	text-wrap: nowrap;
	margin-left: 0.5rem
}
