:root {
    color-scheme: light dark;
}

body {
    font-family: Helvetica Neue, sans-serif;
    line-height: 1.4;
    margin: 0 auto;
    max-width: 36rem;
    padding: 1rem;
}

h1, h2, h3 {
    line-height: 1.2;
    margin-bottom: 0
}

h1 {
    font-size: 1.75rem;
    margin-top: 1.5rem
}

code, kbd {
    font-family: monospace, monospace;
    font-size: 87.5%
}

pre {
    border: 1px solid;
    overflow: auto;
    padding: 5px;
}

figure {
    margin: 1rem 0
}

img {
    max-width: 100%;
    height: auto
}

table {
    border-collapse: collapse;
    width: 100%
}

th {
    text-align: left
}

tr, td {
    border-bottom: 1px solid
}

ul, ol {
    padding-left: 1.625rem
}

li {
	margin: 1px 0
}

dd {
	margin-left: 1.625rem
}

blockquote {
    margin: 0;
    border-left: solid;
    padding-left: 1rem
}

hr {
    border-style: solid;
    border-bottom: 0
}

sup {
    line-height: 0
}

a {
	color: LinkText
}

ul.posts {
	padding-left: 0
}
ul.posts li {
    display: flex;
    margin-bottom: 0.5rem;
}
ul.posts time {
	flex: 0 0 5.75rem;
}
ul.posts a:visited {
	color: VisitedText
}
@media (max-width: 36rem) {
    ul.posts li {
        flex-direction: column;
        margin-bottom: 1rem
    }
    ul.posts time {
        flex: 0
    }
}
footer {
	margin-top: 2rem
}

a.button {
	padding: 0.5rem;
	border: 1px solid;
	text-decoration: none
}
